@keyframes fadetop {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    10% {
        opacity: 1;
        transform: translateY(0);
    }
    90% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}
@keyframes fadetoplast {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    10% {
        opacity: 1;
        transform: translateY(0);
    }
    90% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.address-icon{
    margin-bottom: 3rem;
    height: 768px;
}
.address-icon-container{
    top:0;
    left:0;
    height: 768px;
    width: 100%;
    position: absolute;
    background-color: #fff!important;
}
.icon{
    padding-left: 1rem;
    padding-right: 0;
    margin-left: auto;
    max-width: 50%;
    height: 100% !important;
}
.icon-container{
    position: relative;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    background-image: url("../images/address.jpg");
    height: 100%!important;
    align-items: flex-end!important;
    display: flex!important;
}
.icon-container-cocacola{
    margin-left: 1.5rem!important;
}
.address{
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
}
.address-container{
    display: flex;
    flex-wrap: wrap;
    margin-right: -16px;
    margin-left: -16px;
}
.address-container-col{
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 16px;
    padding-left: 16px;
}
.address-container-col-search{
    padding: 0;
    padding-top:7rem;
    display: flex;
    height: 100%;
}
.address-container-col-search-container{
    margin: auto 0;
    padding-left: 0!important;
    padding-right: 0!important;
    padding-bottom: 2.5rem!important;
    padding-top: 1.5rem!important;
    height: 50%!important;
    width: 100%!important;
    border-radius: .25rem!important;
    background-color: #fff!important;
}
.search-info{
    margin-bottom: 2.5rem!important; 
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.45;
    color: #333;
    text-align: left;
}
.search-info h1{
    font-size: 2.75rem;
    text-align: left!important;
    margin-bottom: .5rem!important;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.2;
    color: inherit;
    margin-top: 0;
}
.search-info-span{
    display: inline-block;
}
.search-info div{
    position: relative;
    text-align: left!important;
    font-size: 2.75rem;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.2;
    color: inherit;
}
.search-info div span{
    padding-left:1rem;
    display: inline-block;
    position: absolute;
    transform: translateY(100%);
    opacity: 0;
    animation: fadetop;
    animation-duration: 3s;
}
.search-info div span:first-of-type{
    animation-duration: 6s;
}
.search-info div span:nth-of-type(2):not(:first-of-type){
    animation-delay: 6.7s!important;
}
.search-info div span:nth-of-type(3):not(:first-of-type){
    animation-delay: 9.55s!important;
}
.search-info div span:nth-of-type(4):not(:first-of-type){
    animation-delay: 12.4s!important;
}
.search-info div span:nth-of-type(5):not(:first-of-type){
    animation-delay: 15.25s!important;
}
.search-info div span:nth-of-type(6):not(:first-of-type){
    animation-delay: 18.1s!important;
}
.search-info div span:nth-of-type(7):not(:first-of-type){
    animation-delay: 20.95s!important;
}
.search-info div span:nth-of-type(8):not(:first-of-type){
    animation-delay: 23.8s!important;
}
.search-info div span:nth-of-type(9):not(:first-of-type){
    animation-delay: 26.65s!important;
}
.search-info div span:last-of-type{
    position: relative;
    animation: fadetoplast;
    animation-fill-mode: forwards;
}
.search-info p{
    color: #9b9b9b!important;
    font-weight: 400!important;
    display: block!important;
    font-size: 1.00625rem;
    margin-bottom: .25rem;
    font-family: inherit;
    margin-top: 0;
}
.search-form form{
    display: block;
    margin-top: 0em;
}
.search-form-box{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.13);
    position: relative!important;
    border-radius: .25rem!important;
}
.search-form-box-outer{
    border: 1px solid #ebebeb;
    padding: .5rem!important;
    padding-left: 2rem !important;
    position: relative!important;
    flex-direction: row!important;
    align-items: center!important;
    display: flex!important;
    border-radius: .25rem!important;
    background-color: #fff!important;
}
.search-form-box-outer-preinput{
    width: 100%!important;
    display: flex!important;
    align-items: center!important;
}
.search-icon{
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.45;
    color: #333;
    text-align: left;
    content: "";
    width: 24px;
    height: 24px;
    display: block;
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-image: url("../images/search.png");
    margin-right: .25rem;
}
.search-form-box-outer input{
    margin: 0;
    opacity: 1;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: .25rem!important;
    border: 0!important;
    display: block;
    width: 100%;
    height: calc(2.40875rem + 2px);
    padding: .57rem 1rem;
    font-size: .875rem;
    line-height: 1.45;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #dfdfdf;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline: none !important;
}

.example{
    display: block;
    color: #9b9b9b!important;
    padding-top: 4rem!important;
    margin-top: 3rem!important;
    margin: 0!important;
    position: absolute!important;
    align-self: flex-start!important;
    font-size: 86%;
    font-weight: 400;
}
.search-button{
    padding-left: 0!important;
    padding-right: 0!important;
    display: block!important;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
    position: relative;
    min-height: 1px;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.45;
    color: #333;
    text-align: left;
}
.search-button button{
    color: #212529;
    padding: .782rem 1.5rem;
    line-height: 1.5;
    border-radius: .25rem;
    background-color: #ffc200;
    border-color: #ffc200;
    margin-top: 0;
    font-size: .875rem;
    cursor: pointer;
    display: block;
    width: 100%;
    overflow: visible;
    text-transform: none;
    margin: 0;
    font-family: inherit;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    user-select: none;
    border: 1px solid transparent;
}
@media (max-width: 990px){
    .address-icon{
        margin-bottom:0;
    }
    .icon{
        height: 440px !important;
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        max-width: 100%;
    }
    .address-container-col-search{
        height: 768px;
    }
    .address-container-col{
        flex: 0 0 100%;
        max-width: 100%;
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 5rem;
        padding-left: 5rem;
    }
    .address-container-col-search-container{
        padding-left: 3rem!important;
        padding-right: 3rem!important;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.13);
    }
    .search-info h1{
        text-align: center!important;
    }
    .search-info div{
        text-align: center!important;
    }

}
@media (max-width: 676px){
    .search-info p{
        display: none!important;
    }
    .search-info h1{
        font-size: 1.625rem;
        text-align: center!important;
    }
    .search-info div{
        font-size: 1.625rem;
        text-align: center!important;
    }
    .search-button{
        top:7rem;
        left:0;
        width: 100%;
        position: absolute;
    }
}
@media (max-width: 580px){
    .address-container-col{
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .address-container-col-search-container{
        padding-left: 1rem!important;
        padding-right: 1rem!important;
    }
    .login-error{
        padding-top: 0.9rem !important;
    }
}