.allergens h2{
    font-size: 1.25125rem;
    margin-bottom: .25rem;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.2;
    color: inherit;
    margin-top: 0;
}
.allergens p{
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.45;
    color: #333;
    text-align: left;
}
.allergens a{
    text-decoration:  none;
    font-weight: 900;
    color: #333;
}