.contact h3{
    font-size: 1.00625rem;
    margin-bottom: .25rem;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.2;
    color: inherit;
    margin-top: 0;
}
.contact p{
    margin-top:0.5rem;
    margin-bottom: 1rem;
}
.contact  strong a{
    color: #333;
    text-decoration: none;
    background-color: transparent;
}
.contact-row{
    margin-bottom: 1.5rem;
}
.contact-row label{
    font-size: .75rem;
    font-weight: 700;
    margin-bottom: .5rem;
}
.contact-row input{
    color: #333;
    padding-left: 1rem!important;
    padding-right: 1rem!important;
    padding-bottom: .75rem!important;
    padding-top: .75rem!important;
    width: 100%!important;
    border-radius: .25rem!important;
    border: 1px solid #dee2e6!important;
    overflow: visible;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.contact-row textarea{
    width: 100%;
    border: 1px solid #dfdfdf;
    border-radius: .25rem;
    min-height: 90px;
    padding: 1rem;
    overflow: auto;
    resize: vertical;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.contact button{
    color: #333;
    width: 50%!important;
    background-color: #ffc200;
    border-color: #ffc200;
    display: inline-block;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .57rem 1.5rem;
    font-size: .875rem;
    line-height: 1.45;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    overflow: visible;
    margin: 0;
    font-family: inherit;
}
.login-error{
    font-size:14px;
    color:red;
}