.info-top-icon{
    height: 480px;
    width: 100%!important;
    position: absolute!important;
    background-color: #fff!important;
}
.info-top-icon-container{
    padding-left: 1rem!important;
    padding-right: 0!important;
    margin-left: auto!important;
    height: 100%!important;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    min-height: 1px;
}
.info-top-icon-container img{
    width: 100%;
    object-fit: cover;
    height: 100%!important;
    align-items: flex-end!important;
    display: flex!important;
    background-color: grey!important;
}
.info-top-label{
    max-width: 1200px;
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
}
.info-top-label-row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -16px;
    margin-left: -16px;
}
.info-top-label-row-col{
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 16px;
    padding-left: 16px;
}
.info-top-label-row-col-center{
    height: 480px;
    justify-content: center!important;
    flex-direction: column!important;
    display: flex!important;
}
.info-top-label-row-col-center div{
    top: 0;
    position: relative;
    font-size: 1.625rem;
}
.info-top-label-row-col-center div h1{
    font-size: 2.75rem;
    font-weight: 700!important;
    line-height: 1.2;
    margin-bottom: .25rem;
    font-family: inherit;
    color: inherit;
    margin-top: 0;
}
.info-top-label-row-col-center div p{
    color: #9b9b9b!important;
    font-weight: 400!important;
    font-size: 1.00625rem;
    margin-bottom: .25rem;
    font-family: inherit;
    line-height: 1.2;
    margin-top: 0;
}
.info-main{
    padding-top: 80px;
    background-color: #f7f7f7;
}
.info-main-container{
    max-width: 1200px;
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
}
.info-main-container-row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -16px;
    margin-left: -16px;
}
.info-main-menu{
    flex: 0 0 25%;
    max-width: 25%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 16px;
    padding-left: 16px;
}
.info-main-menu ul{
    padding-left: 0;
    list-style: none;
    margin-top: 0;
    margin-bottom: 1rem;
}
.info-main-menu ul li{
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
    padding-left: 1.75rem!important;
    padding-right: 1.75rem!important;
    border-radius: .25rem!important;
    list-style: none;
}
.info-main-menu ul li a{
    color: #333;
    text-decoration: none;
    background-color: transparent;
}
.info-main-menu-pressed{
    padding-bottom: 1rem!important;
    padding-left: 1.75rem!important;
    padding-right: 1.75rem!important;
    padding-top: 1rem!important;
    list-style: none;
    box-shadow:  0 2px 4px 0 rgba(0,0,0,.13);
    font-weight: 700!important;
    border-radius: .25rem!important;
    background-color: #fff!important;
}
.info-main-menu-pressed a{  
    color: #333;
    text-decoration: none;
    background-color: transparent;
    font-weight: 700!important;
}
.info-main-content{
    flex: 0 0 75%;
    max-width: 75%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 16px;
    padding-left: 16px;
}
.info-main-content-container{
    top: unset;
    max-width: 580px;
    background-color: unset;
    box-shadow: unset;
    position: relative;
    padding-left: 0!important;
    padding-bottom: 0!important;
    padding-right: 0!important;
    padding-top: 0!important;
    border-radius: .25rem!important;
}
.info-main-content-container hr{
    display: none;
}
.info-main-top-mobile{
    display: none;
}
@media (max-width: 1250px){
    .info-top-label{
        max-width: 960px;
    }
}
@media (max-width: 990px){
    .info-main-content-container hr{
        display: block;
    }
    .info-main-top-mobile{
        text-align: center!important;
        justify-content: center!important;
        flex-direction: column!important;
        display: flex!important;
    }
    .info-main-menu{
        display: none;
    }
    .info-main-container{
        max-width: 720px;
    }
    .info-main-content{
        flex: 0 0 100%;
        max-width: 100%;
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 16px;
        padding-left: 16px;
    }
    .info-main-content-container{
        top: 25px;
        max-width: unset;
        background-color: #fff;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
        position: relative;
        padding-left:1.5rem!important;
        padding-bottom: 2.5rem!important;
        padding-right: 1.5rem!important;
        padding-top: 2.5rem!important;
        border-radius: .25rem!important;
        margin-bottom: 3rem!important;
    }
    .info-main-top-mobile h1{
        font-weight: 700!important;
        line-height: 1.2;
        font-size: 2.5rem;
        margin-bottom: .25rem;
        color: inherit;
        font-family: inherit;
        margin-top: 0;
    }
    .info-main-top-mobile p{
        color: #9b9b9b!important;
        font-weight: 400!important;
        font-size: 1.00625rem;
        margin-bottom: .25rem;
        font-family: inherit;
        line-height: 1.2;
        margin-top: 0;
    }    
    .info-top-icon{
        height:264px;
    }
    .info-top-icon-container{
        padding-left: 0!important;
        margin-right: auto !important;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .info-top-icon-container img{
        width: 100%;
        object-fit: cover;
        height: 100%!important;
        align-items: flex-end!important;
        display: flex!important;
        background-color: grey!important;
    }
    .info-top-label{
        display: none;
    }
}
@media (max-width: 750px){
    .info-main-container{
        max-width: 550px;
    }
    
}