.shops-top{
    z-index: 1;
    position: relative!important;
}
.shops-top-container{
    height: 264px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/shops-top.jpg);
}
.shops-top-container::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,transparent,#000 100%);
}
.shops-top-container-center{
    z-index: 1;
    height: 100%!important;
    max-width: 960px;
    position: relative!important;
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
}
.shops-top-container-center-col{
    height: 100%!important;
    justify-content: center!important;
    flex-direction: column!important;
    display: flex!important;
    text-align: center;
}
.shops-top-container-center-col h1{
    color: #fff!important;
    padding-top: .25rem!important;
    margin-top: 3rem!important;
    margin-bottom: 1rem!important;
    font-size: 2.25rem;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.2;
}
.shops-top-address{
    font-weight: 400!important;
    font-size: 1.00625rem;
    margin-bottom: .25rem;
    font-family: inherit;
    line-height: 1.2;
    text-align: center!important;
    color: #fff!important;
}
.shops-top-address span:nth-child(2){
    padding: .5rem!important;
    position: relative!important;
    margin-left:0.5rem;
}
.shops-top-address span:nth-child(2)::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 4px;
    opacity: .2;
}
