.who p{
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.45;
    color: #333;
    text-align: left;
}
.who p strong{
    font-weight: bolder;
}
.who p strong a{
    color: #333;
    text-decoration: none;
    background-color: transparent;
    font-size: .875rem;
    line-height: 1.45;
    text-align: left;
}