.account-top{
    z-index: 1;
    position: relative!important;
}
.account-top-container{
    height: 264px;
    background-size: cover;
    background-position: center center;
    background-image: url(../images/account-top.jpg);
}
.account-top-container::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,transparent,#000 100%);
}
.account-top-container-center{
    z-index: 1;
    height: 100%!important;
    max-width: 960px;
    position: relative!important;
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
}
.account-top-container-center-col{
    height: 100%!important;
    justify-content: center!important;
    flex-direction: column!important;
    display: flex!important;
}
.account-top-container-center-col h1{
    color: #fff!important;
    padding-top: .25rem!important;
    margin-top: 3rem!important;
    margin-bottom: 0!important;
    font-size: 1.61875rem;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.2;
}
.account-top-links ul{
    white-space: nowrap;
    padding-bottom: 1.5rem!important;
    padding-top: 1.5rem!important;
    flex-wrap: nowrap!important;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-top: 0;
}
.link-actived{
    background-color: hsla(0,0%,87.5%,.4);
}
.account-top ul li a{
    font-weight: 700;
    border-radius: .25rem;
    color: #fff!important;
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
}