.copyright h3{
    font-size: 1.00625rem;
    margin-bottom: .25rem;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.2;
    color: inherit;
    margin-top: 0;
}
.copyright p{
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.45;
    color: #333;
    text-align: left;
}