.footer{
    padding-top:9rem;
    width: 100%;
    margin:0;
}
.footer-container{
    padding-top:1rem;
    padding-bottom: 1rem;
    max-width: 1200px;
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
}
.footer-logo{
    text-align: left!important;
}
.footer-logo a{
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
    margin-bottom: 1.5rem!important;
    display: inline-block!important;
}
.footer-logo-img{
    background: url(../images/logo.png);
    background-size:144px 40px;
    height: 40px;
    width: 144px;
}
.footer-raw{
    display: flex;
    flex-wrap: wrap;
    margin-right: -16px;
    margin-left: -16px;
}
.footer-info{
    color:#333;
    padding-top:0.8rem;
    text-align: left!important;
    margin-right: auto!important;
    margin-bottom: 1.5rem!important;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 16px;
    padding-left: 16px;
}
.footer-info p{
    margin-bottom: 0!important;
    margin-top: 0;
}
.footer-links{
    margin-bottom: 1.5rem!important;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 16px;
    padding-left: 16px;
}
.footer-links ul{
    columns: 4;
    margin-bottom: 0!important;
    padding-left: 0;
    list-style: none;
}
.footer-links ul li a{
    color: #333!important;
    margin-bottom: .5rem!important;
    display: inline-block!important;
    text-decoration: none;
    background-color: transparent;
}
.footer-social{
    text-align: left!important;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 16px;
    padding-left: 16px;
}
.footer-social ul{
    margin-bottom: 0!important;
    padding-left: 0;
    list-style: none;
    margin-top: 0;
}
.footer-social ul li{
    margin-right: 1rem!important;
    display: inline-block;
}
.footer-social ul li a{
    font-size: 1rem;
    color: gray!important;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    text-align: center!important;
}
.footer-copyright{
    width: 100%;
    text-align: center!important;
    padding-bottom: 0rem!important;
    padding-top: 4rem!important;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.45;
    color:#333;
}
.footer-copyright p{
    margin-bottom: 0!important;
    font-size: 86%;
    font-weight: 400;
    margin-top: 0;
    text-align: center!important;
}
@media (max-width: 990px){
    .footer-container{
        background-color:#333;
    }
    .footer-logo{
        text-align: center!important;
    }
    .footer-raw{
        flex-direction: column;
    }
    .footer-info{
        text-align: center!important;
        margin-bottom: 1.5rem!important;
        flex: 0 0 100%;
        max-width: 50%;
        width: 50%;
        margin:0 auto;
        color: #fff;
    }
    .footer-links{
        text-align: center!important;
        margin-bottom: 1.5rem!important;
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
        margin:0 auto;
    }
    .footer-social{
        text-align: center!important;
        flex: 0 0 100%;
        max-width: 100%;
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 16px;
        padding-left: 16px;
    }
    .footer-links ul li a{
        color: #fff!important;
    }
    .footer-social ul li a{
        color:#fff !important;
    }
    .footer-copyright{
        background-color:#333;
        color:#fff;
    }
    .footer-logo-img{
        background: url(../images/logo-mobile.png);
        background-size:144px 40px;
        height: 40px;
        width: 144px;
    }
}
@media (max-width: 700px){
    .footer-info{
        text-align: center!important;
        margin-bottom: 1.5rem!important;
        flex: 0 0 100%;
        max-width: 80%;
        width: 80%;
        margin:0 auto;
        font-size:13px;
    }
    .footer-links{
        text-align: center!important;
        margin-bottom: 1.5rem!important;
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
        margin:0 auto;
        font-size:13px;
    }
    .footer-copyright{
        font-size:10px;
    }
}