.homeinfo{
    padding-top:5rem;
    height: 560px;
    position: relative!important;
}
.homeinfo-icon{
    height: 100%!important;
    width: 100%!important;
    position: absolute!important;
    display: flex!important;
}
.homeinfo-icon-col{
    padding-left: 0!important;
    padding-right: 0!important;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    min-height: 1px;
}
.homeinfo-icon-col div{
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    background-image: url(../images/homeinfo.jpg);
    height: 100%!important;
}
.homeinfo-info{
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    height: 100%!important;
}
.homeinfo-info-row{
    height: 100%!important;
    display: flex;
    flex-wrap: wrap;
    margin-right: -16px;
    margin-left: -16px;
}
.homeinfo-info-row-col{
    margin-left: auto!important;
    margin-bottom: auto!important;
    margin-top: auto!important;
    padding-left: 0!important;
    height: 50%!important;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 16px;
}
.homeinfo-info-row-col h2{
    font-weight: 700!important;
    line-height: 1.2;
    font-size: 2.5rem;
    color: inherit;
    margin-top: 0;
    margin-bottom: .5rem!important;
}
.homeinfo-info-row-col p{
    color: #9b9b9b!important;
    margin-bottom: 0!important;
    margin-top: 0;
}
.homeinfo-info-row-col h3{
    font-size: 1.00625rem;
    margin-bottom: .25rem;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.2;
    color: inherit;
    margin-top:1rem;
}
.homeinfo-info-row-col ul{
    padding-left: 0;
    list-style: none;
    margin-top: 0;
    margin-bottom: 1rem;
    height: 100%;
}
.homeinfo-info-row-col ul li{
    margin-right: 4px;
    display: inline-block!important;
    color: #9b9b9b!important;
}
.homeinfo-info-row-col ul li a{ 
    cursor: pointer;
    color: #9b9b9b!important;
    white-space: nowrap!important;
    text-decoration: none;
    background-color: transparent;
}
@media (max-width: 640px){
    .homeinfo-info{
        height: 10%!important;
    }
    .homeinfo-info-row-col h2{
        font-size: 20px;
    }
    .homeinfo-info-row-col p{
        font-size:12px;
    }
    .homeinfo-info-row-col ul li a{ 
        font-size:12px;
    }
    .homeinfo-icon{
        height: 100%!important;
        width: 100%!important;
        padding-left:0.5rem;
        position: absolute!important;
        display: flex!important;
    }
}