.offers{
    display: block;
   background-color: #fff;
}
.offers-container{
    display: block;
    max-width: 960px;
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
}
.offers-container h2{
    margin-bottom: 1.5rem!important;
    font-size: 1.61875rem;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.2;
    color: inherit;
    margin-top: 0;
}
.offers-container h2 span{
    background: #d1eedd;
    font-size: 26px;
    color: #00bc8b!important;
    display: inline-block;
    padding: .25em .4em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 2px;
    margin-right: 1rem;
}
.slicker-div-image{
    margin-bottom: 1rem!important;
}
.slicker-div-image a{
    background-color: transparent;
}
.slicker-div-image img{
    border-radius: .25rem!important;
    max-width: 100%;
    border-style: none;
    cursor: pointer;
    width: 208px;
    height: 130px;
}
.offers-info{
    color: #333;
    text-decoration: none;
    background-color: transparent;
}
.offers-info div{
    justify-content: space-between!important;
    display: flex!important;
    padding-top:1rem;
}
.offers-info div h3{ 
    padding-right: 1rem!important;
    font-size: 1.00625rem;
    margin-bottom: .25rem;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.2;
    color: inherit;
    margin-top: 0;
}
.offers-info div span{
    flex-shrink: 0!important;
    font-size: 86%;
    font-weight: 400;
    padding-right: 1.5rem;;
}
.shopping-basket{
    font-family: "Font Awesome 5 Pro";
    font-size: .875em;
    font-weight: 900;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    color: #9b9b9b!important;
    margin-right: .5rem!important;
}
.offers-info p{
    color: #9b9b9b!important;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.45;
    text-align: left;
    margin-top: 0;
    margin-bottom: 1rem;
}
.slick-arrow{
    display: none !important;
}
@media (max-width: 990px){
    .offers-info div span{
        padding-right:10vw;
    }
}
@media (max-width: 820px){
    .offers-info div span{
        padding-right:5vw;
    }
}
@media (max-width: 765px){
    .offers-info div span{
        padding-right:15vw;
    }
}
@media (max-width: 560px){
    .offers-info div span{
        padding-right:8vw;
    }
    .offers-container h2{
        font-size:1rem;
    }
    .offers-container h2 span{
        font-size: 16px;
    }
}
@media (max-width: 500px){
    .offers-info div span{
        padding-right:5vw;
    }
    .slicker-div-image img{
        width: 165px;
        height: 130px;
    }
}